.ui-icon {
	display: block;
	font-size: 15px;
	color: #fff;
	text-decoration: none;
	font-weight: 400;
	box-shadow: 0 -1px 0 #171717, inset 0 1px 0 #313131;
	cursor: pointer;
}
.ui-icon:hover + .ch-drop{
	display:inline;
} 
.ch-drop {
	display: none;
    position: absolute;
    margin-top: -50px;
    margin-left: 228px;
    width: 200px;
	height: 170px;
    padding: 0px 0px 0px 0px;
    border: 2px solid #dd4040;
    background: #3C3C3C;
    z-index: 10;
    overflow: hidden;
	float: left;
}
.ch-drop li {
	font-size: 15px;
	color: #ffffff;
}