.ui-icon {
	display: block;
	font-size: 15px;
	color: #fff;
	text-decoration: none;
	font-weight: 400;
	box-shadow: 0 -1px 0 #171717, inset 0 1px 0 #313131;
	cursor: pointer;
}
.ui-icon:hover + .ch-drop{
	display:inline;
} 
.ch-drop {
	display: none;
    position: absolute;
    margin-top: -50px;
    margin-left: 228px;
    width: 200px;
	height: 170px;
    border: 2px solid #dd4040;
    background: #3C3C3C;
    z-index: 10;
	float: left;
}
.ch-drop .cf {
	height: 30px;
	font-size: 15px;
	color: #ffffff;
	margin-top: 20px;
	margin-left: 20px;
}
