.slider.slider-horizontal {
    width: 70%;
    height: 20px;
    float: left;
}

.nodes circle {
     stroke: #fff;
     stroke-width: 1.5px;
 }
.nodes text {
    pointer-events: none;
    font: 10px sans-serif;
}